.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourstory {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}
.ourstory > * {
  position: relative;
}

.details {
  color: var(--foreground);
}
.details h3 {
  margin-bottom: 40px;
  font-size: 24px;
  position: relative;
}
.details h3::before {
  position: absolute;
  bottom: -20px;
  right: 0;
  content: "";
  height: 2px;
  width: 100px;
  background-color: var(--primary-color);
}

.details p, .details a{
  margin-bottom: 30px;
  text-align: justify;
}
.details a{
  background-color: var(--foreground);
  color: var(--background);
  padding: 10px 15px;
}

.ourstoryimage {
 width: 100%;
}

.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85px;
  height: 85px;
  border-radius: 20px;
  background: rgba(208, 208, 208, 0.496);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.playBtn:hover {
  transform: translate(-50%, -50%) scale(0.9);
}
.playBtn span {
  background-color: white;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 100px;
}
.services > h3, .newsRoom > h3 {
  font-size: 24px;
}
.services > p, .services a {
  font-size: 20px;
}
.services > a, .archiveLink {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--background);
}
.serviceCards {
  width: 100%;
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.serviceCard {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
}
.serviceCard:hover {
  border-radius: var(--border-radius);
}

.serviceCard > div {
  opacity: 0;
  transition: var(--transition);
  z-index: 10;
}
.serviceCard:hover > div {
  opacity: 1;
}

.serviceCard img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}
.serviceCard:hover img {
  opacity: 0.7;
  filter: blur(5px);
}


.newsRoom {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.newsRoom > a {
  align-self: flex-end;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
}

.newsCard {
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}
.newsCard img {
  width: 100%;
  margin-bottom: 30px;
}

.newsDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.newsDetail h4 {
  font-size: 22px;
}

.date {
  font-size: 0.8em;
  opacity: 0.7;
}

.newsA {
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
  transition: var(--transition);
  margin-top: 30px;
}
.newsA::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  border-radius: 1px;
  background-color: var(--primary-color);
  transition: var(--transition);
}
.newsA:hover {
  color: var(--primary-color);
}
.newsA:hover::after {
  width: 100%;
}
